[Unit]
Description=Run front-end in background
After=network.target

[Service]
User=root
Restart=on-failure
RestartSec=5
ExecStart=/root/The-Hackstreet-Boys/devops/front-up.sh

[Install]
WantedBy=multi-user.target